<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
    </array>
    <key>CFBundleIdentifier</key>
    <string>app.subpop.Relay.help</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Relay Help</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleSignature</key>
    <string>hbwr</string>
    <key>HPDBookAccessPath</key>
    <string>Relay.html</string>
    <key>HPDBookIconPath</key>
    <string>Shared/icon.png</string>
    <key>HPDBookCSIndexPath</key>
    <string>Relay.cshelpindex</string>
    <key>HPDBookIndexPath</key>
    <string>Relay.helpindex</string>
    <key>HPDBookTitle</key>
    <string>Relay Help</string>
    <key>HPDBookType</key>
    <string>3</string>
</dict>
</plist>
