<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Relay Member Drag Item</string>
			<key>UTTypeIdentifier</key>
			<string>com.anomaly.relay.member-drag-item</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Relay uses the camera for video calls in Matrix rooms.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Relay uses the microphone for audio and video calls in Matrix rooms.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>OAuth Callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>io.github.subpop.relay</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Matrix URI</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>matrix</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
